.box-why {
    background: url("../src/images/image_section_3.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #fff;
    overflow: hidden;

    .card-title {
        color: #fff;
    }

    #note-textarea {
        color: #fff;
    }

    .text-submitSection3-3 {
        color: #fff;
    }
}

.box-why .card {
    background: transparent;
    margin: auto;
    border: none;
}

.box-why .card-body {
    text-shadow: #e91e63 -1px -2px 0.5em;
}

.box-why .card-img-top {
    height: 150px;
    object-fit: contain;
}

.box-why a {
    color: #fff;
    font-size: 1.0625em;
    padding: 0.625em 2em;
    background: #ef6a8a;
}

.box-why a:hover {
    color: #ffeb3b;
    background: #ef6a8a;
}

.box-why #submitSection3-3 {
    background: #3f51b5;
}

.box-why a:hover {
    color: #ffeb3b;
}

/* end box-why */