* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clear {
  clear: both;
}

.show {
  display: block !important;
}

.hidden {
  display: none !important;
}

@font-face {
  font-family: 'VN-Sunshine-Script';
  src: url('src/fonts/VN-Sunshine-Script.ttf');
}

@media (max-width: 767px) {
  #yes {
    left: 10%;
  }
}