.start-box {
    // background: url(../src/images/image_section_1.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    color: #fff;

    .card {
        background: transparent;
        margin: auto;
        border: none;
    }

    .card-title {
        margin-bottom: 1.5rem;
        margin-top: 1rem;
        color: #fff;
    }

    .card-img-top {
        height: 150px;
        object-fit: contain;
    }

    .card-body {
        text-shadow: #e91e63 -1px -2px 0.5em;

        .btn.item1:hover, .btn.item1:active, .btn.item1:focus-visible {
            background: #ef6a8a;
        }

        .btn.item2:hover, .btn.item2:active, .btn.item2:focus-visible, .btn.item3:hover, .btn.item3:active, .btn.item3:focus-visible {
            background: #495057;
        }
    }

    h3.card-text.item {
        color: #fff;
    }

    a {
        background: #ef6a8a;
        color: #fff;
        font-size: 1.0625em;
        padding: 0.625em 2em;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        &:hover, &:active {
            color: #ffeb3b !important;
        }

        &.item2, &.item3 {
            background: #495057;
        }
    }
}

section.box-videos-bg {
    video#background-video {
        width: 100%;
        position: fixed;
        top: 0;
        z-index: -1;
        height: 100vh;
        background: #000;
    }
}